.cartao-pokemon {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
}

.cartao-pokemon .cartao-topo {
    padding: 30px 40px 0;
    border-radius: 12px;
}

.cartao-pokemon .nome {
    margin-bottom: 5px;
}

.cartao-pokemon .detalhes {
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao-pokemon .cartao-imagem {
    width: 350px;
    height: 350px;

}

.cartao-pokemon img {
    max-width: 100%;
}

.cartao-pokemon .cartao-informacoes {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 80px 30px 50px;
    margin-top: -70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cartao-pokemon .cartao-informacoes h3 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6b727a;
}

.cartao-pokemon .cartao-informacoes .status, .cartao-pokemon .cartao-imagem .habilidades {
    padding: 0px 10px;
    width: 180px;
}

.cartao-pokemon .cartao-informacoes .status ul li, .cartao-pokemon .cartao-informacoes .habilidades ul li {
    border-bottom: 1px solid #c3c4c5;
    padding: 0px 0px 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.cartao-pokemon.aberto {
    display: block;
}

.tipo-eletrico {
    background-color: #fcc719;
}

.tipo-fogo{
    background-color: #ed8a8b;   
}

.tipo-grama {
    background-color: #49d0b0;
}

.tipo-agua {
    background-color: #76befe;
}

.tipo-fantasma {
    background-color: #ba68c8;
}

.tipo-dragao {
    background-color: #c29791;
}

.progress-bar{
    height: 5px;
    padding: 5px;
    background-color: #ccc;
  }
